<li>
  <h2><%= orderer.name %></h2>
  <div class="tools">
    <%= link_to 'Delete', orderer, method: :delete,
                                   data: { confirm: "You sure?" },
                                   title: orderer.name %>
  </div>
</li>
