<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-3">
    <section>
      <%= render 'shared/user_info' %>
    </section>
  </aside>
  <div class="col-md-9">
    <p class="user-type">user type: <%= @user.admin? ? 'admin' : 'normal' %></p>
    <%= render 'shared/total_payments' %>
  </div>
</div>
