@import "bootstrap";

$grayLighter: #ccc;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* fonts {{{ */
@font-face {
  font-family: 'proton';
  src: url(proton.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}
.font {
  font-family: 'proton';
}
/* }}} */

/* misc {{{ */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin: {
    top: 45px;
  }
  @include box_sizing;
}
.alert-undefined {
  color: red;
  font-style: italic;
}
/* }}} */

/* universal {{{ */

html {
  overflow-y: scroll;
  font-size: 16px;
}

body {
  padding: {
    top: 60px;
  }
  font-family: Verdana, sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin: {
      bottom: 10px;
    }
  }
}

/* }}} */

/* typography {{{ */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  margin: {
    bottom: 30px;
  }
  text-align: center;
  font-size: 3rem;
  letter-spacing: -2px;
}

h2 {
  margin: {
    bottom: 30px;
  }
  color: #999;
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: -1px;
}

p {
  font-size: 1.1rem;
  line-height: 1.7rem;
}

/* }}} */

/* header {{{ */
#logo {
  float: left;
  margin: {
    right: 10px;
  }
  padding: {
    top: 11px;
  }
  color: #eee;
  font: {
    size: 1.8rem;
    weight: bold;
  }
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
    text-shadow: rgba(255, 255, 255, .5) 0 0 15px;
  }
  text-shadow: rgba(0, 0, 0, .9) 0 -2px 1px;
}
header {
  .navbar-inner {
    .nav {
      a {
        //color: #eee;
        //&:hover {
        //}
      }
    }
  }
}
.navbar-inverse {
  border-color: #010101;
  background-color: #022641;
}
/* }}} */

/* footer {{{ */
.footer {
  margin: {
    top: 45px;
  }
  padding: {
    top: 5px;
  }
  border: {
    top: 1px solid #eaeaea;
  }
  color: #999;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin: {
        left: 10px;
      }
    }
  }
}
/* }}} */

/* sidebar {{{ */
aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0 none;
      padding: {
        top: 0;
      }
    }
    span {
      display: block;
      margin: {
        bottom: 3px;
      }
      line-height: 1;
    }
    h1 {
      margin: {
        top: 0px;
        bottom: 3px;
      }
      font-size: 1.4rem;
      text-align: left;
      letter-spacing: -1px;
    }
  }
}

.gravatar {
  display: inline-block;
  margin: {
    right: 10px;
  }
}
/* }}} */

/* signup forms {{{ */
input[type="text"],input[type="password"], textarea, .uneditable-input {
  width: 100%;
  margin: {
    bottom: 15px;
  }
  padding: 10px;
  border: 1px solid #bbb;
  @include box_sizing;
}
input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
.field_with_errors {
  @extend .form-group;
  @extend .danger;
  @extend .has-error;
}
/* }}} */

/* users {{{ */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}
.gravatar-edit-link-box {
  margin: 20px 0 0;
}
/* }}} */

/* works {{{ */
.create-work-link {
  margin: 20px 0 0;
  a {
    &:before {
      content: '+';
      margin: 0 5px 0 0;
      font-family: proton;
    }
  }
}
.works-title {
  margin: 10px 0;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #000;
  letter-spacing: 0;
}
.works {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .work-title {
    margin: 0 0 10px;
    font: {
      size: 20px;
    }
  }
}
.work-done {
  opacity: .5;
}
.work-progress {
  opacity: 1;
}
.work-title {
  margin: 5px 0 10px 300px;
  font: {
    size: 24px;
  }
  letter-spacing: 0;
  text-align: left;
}
.status-done {
  color: green;
  &:after {
    display: inline-block;
    content: 'O';
    margin-right: 10px;
    font-family: proton;
  }
}
.status-progress {
  color: red;
  &:after {
    display: inline-block;
    content: '_';
    margin-right: 10px;
    font-family: proton;
  }
}
.status-claimed-done {
  @extend .status-done;
}
.status-claimed-progress {
  @extend .status-progress;
}
.status-receipted-done {
  @extend .status-done;
}
.status-receipted-progress {
  @extend .status-progress;
}
.status-finished-done {
  @extend .status-done;
}
.status-finished-progress {
  @extend .status-progress;
}
.work-info {
  position: relative;
  overflow: hidden;
  dt {
    margin: 0 0 5px;
  }
  dd {
    margin: 0 0 10px;
    p {
      font-size: inherit;
      line-height: inherit;
    }
  }
  .orderer {
    padding: 3px 6px;
    border-radius: 6px;
    text-shadow: rgba(255, 255, 255, .7) 0 1px 0;
  }
  .status-info {
    text-align: right;
    display: block;
    float: left;
    width: 50%;
  }
  .timestamp {
    position: relative;
    overflow: hidden;
    display: block;
    float: right;
    width: 50%;
    text-align: right;
    color: #999;
    .updated {
      display: block;
      float: left;
      width: 50%;
      text-align: right;
    }
    .created {
      display: block;
      float: right;
      width: 50%;
      text-align: right;
    }
  }
}
.work-page-nav {
  margin: 20px 0;
  text-align: center;
}
.checkbox-container {
  margin: 0 0 10px;
  label,
  input[type="checkbox"] {
    vertical-align: top;
  }
  input[type="checkbox"].form-control {
    display: inline;
    width: auto;
  }
}
#work_orderer_id {
  margin: {
    bottom: 10px;
  }
}
$ordererColors: #ccf #cff #cfc #ffc #fcc;
@for $i from 0 through 4 {
  .orderer-#{$i} {
    background-color: nth($ordererColors, $i+1);
  }
}
.orderer-name-box {
  .orderer {
    padding: 3px 6px;
    border-radius: 3px;
    text-shadow: rgba(255, 255, 255, .7) 0 1px 0;
  }
}
/* }}} */

/* orderers {{{ */
.orderers-link {
  margin: 20px 0 0;
}
.orderers-index-title {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
}
.orderers-list {
  padding: 0;
  list-style-type: none;
  li {
    margin: 0 0 20px;
    padding: 0 0 10px;
    border-bottom: 1px solid $grayLighter;
    .orderer {
      display: inline-block;
      margin: 0 0 5px;
      padding: 6px 9px;
      text-align: left;
      color: #000;
      text-shadow: rgba(255, 255, 255, .7) 0 1px 0;
      border-radius: 6px;
    }
    .tools {
      text-align: right;
      a {
        margin-left: 10px;
      }
    }
  }
}
.orderers-page-nav {
  text-align: center;
}
/* }}} */

/* pagination {{{ */
.pagination {
  margin: 10px 0;
  .prev {
    a {
      &:before {
        content: 'p';
        margin: 0 5px 0 0;
        font-family: proton;
      }
    }
  }
  .next {
    a {
      &:after {
        content: 'n';
        margin: 0 0 0 5px;
        font-family: proton;
      }
    }
  }
}
/* }}} */

/* worktimes {{{ */
.worktimes-header {
  overflow: hidden;
  margin: 15px 0;
  .worktime-operations {
    float: left;
    margin: 0 10px;
  }
  .worktimes-title {
    float: left;
    margin: 0 10px 0;
    padding: 3px 0 0;
    font-size: 20px;
  }
  .worktimes-total {
    float: left;
    margin: 0 20px 0 10px;
    padding: 4px 0 0;
  }
  .worktimes-payment-rate-hide {
    display: none;
  }
  .worktimes-payment-rate {
    padding: 4px 0 0;
  }
}
.worktimes {
  width: 100%;
  border-collapse: collapse;
  tr, td {
    border-collapse: collapse;
    border-bottom: 1px solid #ccc;
    padding: 6px 10px;
    vertical-align: top;
  }
  .tilde,
  .start-time,
  .end-time {
    text-align: center;
  }
  .start-time,
  .end-time {
    width: 7rem;
  }
  .tilde {
    width: 2rem;
  }
}
.worktime-memo {
  p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
  }
}
.worktime-end-form {
  display: inline-block;
}
.worktime-edit {
  width: 3rem;
  text-align: right;
}
.worktime-delete {
  width: 4rem;
  text-align: right;
}
.edit_worktime {
  .times {
    margin: {
      bottom: 20px;
    }
  }
}
.worktime-page-nav {
  margin: {
    top: 10px;
  }
  text-align: center;
}
/* }}} */
